In [1]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [2]:
# Import pandas.
import pandas as pd

# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

# Note: A pandas series is like an R table

0    B
1    C
2    B
3    D
dtype: object

In [3]:
# map() function syntax
# map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

SyntaxError: invalid syntax (Temp/ipykernel_1036/3787769653.py, line 1)

In [4]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

# Use map to replace mass values; it's like a dial key; if you're using teh alphabet and you change A to Z, and B to Y and so on and so forth, your code dial has changed. 
# Rough analogy, but it works

0    A
1    B
2    A
3    C
dtype: object

In [5]:
# THe Python format() Function 
# "{value:format specification}".format(value)
# The "value" = what we want to format 

# iterate through a list of grades and 
# format each grade to the nearest whole number percent

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))
# this defins a list of grades, then 
# loops through each grade in the my_grades list 
# then it prints out each grade to 2 decimal places

92
85
87
98

In [7]:
# Chaining the map() nad format() functions

# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [9]:
# How to format things with commas 
# df["column"] = df["column"].map("{:,}".format)

# Format the "Total Students" to have the comma for a thousands separator.
# district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# district_summary_df["Total Students"]

# The above code runs in the PyCitySchools sheet because the dataset you are calling to run this on is loaded in that notebook file 
# It is not loaded in here, hence why it won't run here

In [ ]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

# district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# district_summary_df["Total Budget"]

# This code wont run here for the same reasons, but it is how to do the thing